<!DOCTYPE html>
<html lang="en">

  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="icon" href={% static 'Electronic/images/icons/download2.png' %}>
    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href={% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href={% static 'Home/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href={% static 'Home/vendor/magnific-popup/magnific-popup.css' %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static 'Home/css/creative.min.css' %} rel="stylesheet">
	  <link href={% static 'Home/css/a.css' %} rel="stylesheet" type="text/css">

  </head>

  <body id="page-top">

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand " href={% url 'index' %}>Electronics</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
		<li>
		  <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
		</li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'index' %}>Home</a>
          </li>
		  {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link">Hi {{ user.username }}</a>
            <a class="nav-link" href={% url 'logout' %}>Logout</a>
          </li>
                {% else %}
		   <li class="nav-item">
            <a class="nav-link" href={% url 'login' %}>SIGN IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'signup' %}>SIGN UP</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>


	
    <section id="contact">
      <div class="container">
        <br> <br><br><br><br> <br><br>
        <div class="row">
		
          <div class="col-lg-6 ml-auto text-center" >
		   <img src = "../static/Home/img/p1.webp" width = "250" >          </div>

		   <div class="col-lg-6 ml-auto control ">
		
		   	<p> <a href = {% url 's1' %}>Mi 9 Images, Video Posted by CEO; Mi 9 Explorer Edition Leaked Render Surfaces Online </a></p>

          </div>
		   <div class="col-lg-12 ml-auto control "> <br > <br ></div>
		    <div class = "clearfix"></div>
		    
		      <div class="col-lg-6 ml-auto text-center" >
		   <img src = "../static/Home/img/p2.webp" width = "250" >          </div>

		   <div class="col-lg-6 ml-auto control ">
		
		   	<p> <a href = {% url 's2' %}>Samsung M30 Price in India Said to Start at Rs. 15,000, February Launch Date Tipped</a></p>

          </div>
		   <div class="col-lg-12 ml-auto control "> <br > <br ></div>
		    <div class = "clearfix"></div>
			
			   <div class="col-lg-6 ml-auto text-center" >
		   <img src = "../static/Home/img/p3.webp" width = "250" >          </div>

		   <div class="col-lg-6 ml-auto control ">
		
		   	<p> <a href = {% url 's3' %}>How to Help Your Kids Strike a Balance Between Screen Time and the Real World </a></p>

          </div>
		  <div class="col-lg-12 ml-auto control "> <br > <br ></div>
		    <div class = "clearfix"></div>
        </div>

      </div>

  
 
</div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src={% static 'Home/vendor/jquery/jquery.min.js' %}></script>
    <script src={% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>

    <!-- Plugin JavaScript -->
    <script src={% static 'Home/vendor/jquery-easing/jquery.easing.min.js' %}></script>
    <script src={% static 'Home/vendor/scrollreveal/scrollreveal.min.js' %}></script>
    <script src={% static 'Home/vendor/magnific-popup/jquery.magnific-popup.min.js' %}></script>

    <!-- Custom scripts for this template -->
    <script src={% static 'Home/js/creative.min.js' %}></script>

  </body>

</html>
