<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% load staticfiles %}
    <script src={% static 'Electronic/js/menutoggle.js' %}></script>
    <link rel="icon" href={% static 'Electronic/images/icons/download2.png' %}>
    <!-- Bootstrap core CSS -->
    <link href={% static 'Electronic/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
     <link href={% static 'Electronic/css/shop-homepage.css' %} rel="stylesheet">
    <link href={% static 'Electronic/css/buildyourcomp.css' %} rel="stylesheet">
    <link href={% static 'Electronic/css/details.css' %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static 'Electronic/css/1-col-portfolio.css' %} rel="stylesheet">
   <!----------------------------->
    <link href={% static 'Electronic/css/profile.css' %} rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    {% if user.is_authenticated %}
       <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href={% url 'profile' %}>Profile</a>
    <a href={% url 'favorite' %}>Favorite List</a>

  </div>
</div>
    {% endif %}


      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


            <li>
              <a class="nav-link active" href={% url 'index' %}>Home
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href={% url 'addproduct' %}>Add product</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href={% url 'build' %}>Build your computer</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href={% url 'home' %}>Devices</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="signup.html"></a>
            </li>

          </ul>
        </div>
      </div>


      <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

        </div>
    </div>
    <div class="row" >
        <div style="position: right;">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search" >
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
        </div>
    </div>
</div>
      {% if user.is_authenticated %}
            <li class="btn-default btn ">
            <a class="nav-link">Hi {{ user.username }}</a>
            <a class="nav-link" href={% url 'logout' %}>logout</a>
       </li>
        {% else %}
       <li class="btn-default btn ">
           <a class="nav-link" href={% url 'login' %}>Sign in</a>
       </li>
       <li class="btn-default btn ">
           <a class="nav-link" href={% url 'signup' %}>Sign up</a>

       </li>
        {% endif %}
    </nav>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ user.username }}
                                    </h5>
                                    <h6>
                                        Customer
                                    </h6>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">customer</a><br/>

                            <p>INTERESTS</p>
                            <a href="">Samsung Mobile Phones</a><br/>
                            <a href="">Dell laptops</a><br/>
                            <a href="">Gaphic Cards</a><br/>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.username }}</p>
                                            </div>
                                        </div>
                                                                                <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Customer</p>
                                            </div>
                                        </div>
                            </div>

<script type="text/javascript">
</script>
</body>
</html>