<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
     <table border-top-width ="20 px" border="5" padding="20 px" id="html5logo" class="table table-striped" style="margin-top: 50 px;">
					<caption style="caption-side:bottom;"></caption>
					<tbody>
						<tr>
							<th>Device</th>
							<th>Network</th>
							<th>Camera</th>
							<th>OS</th>
							<th>Weight</th>
                            <th>Battery</th>
                            <th>Color</th>

						</tr>
						<tr>
							<td>iphone6</td>
							<td>9x67</td>
							<td> 8 Mp </td>
							<td> A8 </td>
							<td> 129 gm </td>
                            <td> 1810 mA </td>
                            <td> black </td>
						</tr>
						<tr>
							<td>  iphone6</td>
							<td> 10x87 </td>
							<td> 13 Mp </td>
                            <td> A9 </td>
							<td> 149 gm </td>
							<td> 2000mA </td>
                            <td> black </td>
						</tr>
						<tr>
							<td> mi2 </td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
                            <td></td>
							<td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
							</td>
							<td>
							</td>
							<td></td>
                            <td></td>
                            <td></td>
						</tr>

					</tbody>
				</table>

</body>
</html>