<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load staticfiles %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link href={% static 'Electronic/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'Electronic/css/login.css' %} rel="stylesheet" type="text/css">

	<title>Login-Electronic News</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/vendor/bootstrap/css/bootstrap.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/vendor/animate/animate.css' %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/vendor/css-hamburgers/hamburgers.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/vendor/select2/select2.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/css/util.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'Electronic/css/main.css' %}>
<!--===============================================================================================-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    {% if user.is_authenticated %}
       <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href={% url 'profile' %}>Profile</a>
    <a href={% url 'favorite' %}>Favorite List</a>

  </div>
</div>
    {% endif %}


      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


            <li>
              <a class="nav-link active" href={% url 'home' %}>Home
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href={% url 'addproduct' %}>Add product</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="buildyourcomp.html">Build your computer</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="signup.html"></a>
            </li>

          </ul>
        </div>
      </div>


      <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

        </div>
    </div>
    <div class="row" >
        <div style="position: right;">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search" >
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
        </div>
    </div>
</div>
      {% if user.is_authenticated %}
            <li class="btn-default btn ">
            <a class="nav-link">Hi {{ user.username }}</a>
            <a class="nav-link" href={% url 'logout' %}>logout</a>
       </li>
        {% else %}
       <li class="btn-default btn ">
           <a class="nav-link" href={% url 'login' %}>Sign in</a>
       </li>
       <li class="btn-default btn ">
           <a class="nav-link" href={% url 'signup' %}>Sign up</a>

       </li>
        {% endif %}
    </nav>



	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src={% static 'Electronic/images/img-01.png' %} alt="IMG">
				</div>

				<form class="login100-form validate-form" method="post">
                    {% csrf_token %}
					<span class="login100-form-title">
						 Login
					</span>
                    {{ form.as_p }}


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" >
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="signup.html">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src={% static 'Electronic/vendor/jquery/jquery-3.2.1.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'Electronic/vendor/bootstrap/js/popper.js' %}></script>
	<script src={% static 'Electronic/vendor/bootstrap/js/bootstrap.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'Electronic/vendor/select2/select2.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'Electronic/vendor/tilt/tilt.jquery.min.js' %}></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src={% static 'Electronic/js/main.js' %}></script>

</body>
</html>